### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{diksha_course_metrics_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{diksha_course_metrics_replicacount|default(1)}}
repository: {{diksha_course_metrics_repository|default('diksha-course-metrics')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{diksha_course_metrics_cpu_req|default('100m')}}
    memory: {{diksha_course_metrics_mem_req|default('100Mi')}}
  limits:
    cpu: {{diksha_course_metrics_cpu_limit|default('1')}}
    memory: {{diksha_course_metrics_mem_limit|default('1024Mi')}}
network:
  port: 8085
  targetport: 8085
strategy:
  type: RollingUpdate
  maxsurge: {{ diksha_course_metrics_maxsurge|default('25%') }}
  maxunavailable: {{ diksha_course_metrics_maxunavailable|default('25%') }}

{{ diksha_course_metrics_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ diksha_course_metrics_autoscaling_enabled | default('false') }}
  minReplicas: {{ diksha_course_metrics_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ diksha_course_metrics_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ diksha_course_metrics_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ diksha_course_metrics_autoscaling_targetMemoryUtilizationPercentage|default('') }}