### Default variable file for coursemetrics-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{coursemetrics_java_mem_limit|default('-Xmx800m')}}

replicaCount: {{coursemetrics_replicacount|default(1)}}
repository: {{search_repository|default('course-metrics')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{coursemetrics_cpu_req|default('100m')}}
    memory: {{coursemetric_mem_req|default('100Mi')}}
  limits:
    cpu: {{coursemetrics_cpu_limit|default('1')}}
    memory: {{coursemetrics_mem_limit|default('1024Mi')}}
network:
  port: 9000
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: {{ search_maxsurge|default('25%') }}
  maxunavailable: {{ search_maxunavailable|default('25%') }}

{{ search_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ coursemetrics_autoscaling_enabled | default('false') }}
  minReplicas: {{ coursemetrics_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ coursemetrics_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ coursemetrics_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ coursemetrics_autoscaling_targetMemoryUtilizationPercentage|default('') }}

annotations: {{course_metrics_public_ingress_service_annotations|to_json}}
coursemetrics_ingress_type: {{ course_metrics_ingress_type | default('LoadBalancer') }}